.App{
    padding:30px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.books {
    display:  grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    padding-left: '10%';
    padding-right: "10%";
}
/* .books{
    display: flex;
    gap:12px
    
} */
.book{
    background-color: rgb(242, 247, 233);
    border-radius: 7px;
    display:'grid';
    padding-left: '10%';
    padding-right: "10%";
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-bottom: 10px;
    width:300px;
    height:550px

}
/* .book{
    flex:1;
    gap: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

img{
    
    width: 100%;
    height: 270px;
    border-radius: 4px;
    object-fit: fill;
}

.delete{
    border: none;
    padding: 3px 8px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(245,191,191);
    color: rgb(242,100,100)
}

.update{
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgb(245,191,191);
    color: rgb(14, 239, 194)
}

.form{
    display: flex;
    flex-direction: column;
    gap:18px
}
input{
    width:280px;
    padding:13px;
    border: 1px solid lightblue

}

.formButton{
    border: none;
    padding:12px;
    background-color: rgb(245, 184, 41);
    color:aliceblue;
    font-weight: bold;
    cursor:pointer

}